__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.vscode/
.idea/
data/
mlruns/
mlartifacts/
models/
*.pth
!docker-compose.yml
!.env.example
!pipeline/config.py
.env
.DS_Store
